<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="https://yuz.uz/imageproxy/1200x/https://yuz.uz/file/news/5ea8628e327407e62b43646fdc6e4915.jpg"
            class="card-img-top" alt="img">
        <div class="card-body">
            <h5 class="card-title">Apple</h5>
            <p class="card-text">Price: $13.00</p>
            <a href="/" class="btn btn-primary">View</a>
        </div>
    </div>
</div>